# Source files
src/
tests/
examples/
.test/
.retest/
.github/
/docs

# Configuration files
.eslintrc.js
jest.config.js
rollup.config.js
tsconfig.json

# Build artifacts
coverage/
.github/
.vscode/

# Misc
*.log
.DS_Store